@CHARSET "ISO-8859-1";


body {
	background-color: #160e0e;
	background-image: url(../images/bg-Image.jpg);
	background-repeat: repeat-x;
	font-family: arial;
}

a:LINK, a:VISITED{
	color:#fff;
}
a:HOVER{
	/*color:#CCC;*/
}
h1{
	margin:0px 0px 0px 0px;
}

#title-input{
	width:95%;
	height: 40px;
	font-family: arial;
	font-size: 35px;
}

#title {
	height: 100px;
}

#main {
	margin:0px 0px; 
	padding:0px;
	text-align:center;
	width: 100%;
}

.tab{
	padding-top:10px;
	margin-left:0px;
	float:left;
}

#tab-header {
	background-image: url(../images/tab-header.png);
	height: 38px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	vertical-align:middle;
	padding-top:1px;
}
#tab-text {
	background-image: url(../images/tab-text.jpg);
	height: 28px;
	font-size:10px;
	padding:10px 10px 0 10px;
}

#tab-body {
	font-size:13px;
	background-color:black;
	padding-left:10px;
	padding-right:20px;
}

#tab-foot {
	background-image: url(../images/tab-foot.png);
	height: 20px;
}

#content {
	width: 1024px;
	text-align:left;
	margin:0px auto;
}

#col-left{

	float:left;
	padding: 0px 10px;
	text-align: left;
	width:750px;
}
#col-right{
	width:224px;
	float:left;
	padding: 16px 10px;
}

body,td,th {
	color: #FFFFFF;
}

.label{
	float:left;
	width:130px;
	height:20px;
}

.value{
	float:left;
	width:200px;
	height:20px;
}

.menu li{
	width: 150px;
	height: 50px;
	text-align: center;
	float: left;
	color: #fff;
	padding-top: 10px;
	margin: 5px 5px 5px 5px;
	font-size: 15px;
	cursor: pointer;
	list-style: none;
	background-image: url("../images/button.png");
}

.new-account{
	width: 150px;
	height: 50px;
	text-align: center;
	float: left;
	color: #fff;
	padding-top: 10px;
	margin: 5px 5px;
	font-size: 15px;
	font-weight:700;
	cursor: pointer;
	list-style: none;
	background-image: url("../images/button.png");
}

.menu li:hover{
	background-image: url("../images/button-selected.png");
	color: #000;
}

.menu a{
	text-decoration: none;
	color: #fff;
	font-weight:700;
}

.clear{
	clear:both;
}

.button {
	width: 75px;
	height: 19px;
	text-align: center;
	float: left;
	padding-top: 2px;
	margin: 10px 2px;
	color: #fff;
	font-size: 10px;
	cursor: pointer;
	background-image: url("../images/button-small.png");
}

.button a:link,.button a:visited,.button a:active {
	color: #fff;
	text-decoration: none;
}

.button:hover {
	background-image: url("../images/button-small-ov.png");
}
/****filter******/
table.table_lists {
	/*width: 1192px;*/
	border: 0.1pt solid #000;
}

tr.table_lists {
	min-width: 400px;
}

.table_lists tr.row:hover {
	background-color: #C0C0C0;
	border-top: 5px solid #C0C0C0;
	cursor: pointer;
}

.table_lists th {
	padding: 5px 10px;
	background-color: #000;
}

.table_lists td {
	border: 1px solid #eee;
	padding:2px 3px 2px 3px;
}

.table_lists tr.recognised td {
	background: rgb(255, 239, 252);
}

.table_lists tr.recognised.even td {
	background: rgb(255, 223, 248);
}

.table_lists td.recognised.even {
	background: rgb(255, 223, 248);
}

.table_lists tr{
	cursor: pointer;
}

.table_lists tr:hover{
	background-color: #ab9c9c;
}

.filter input, .filter select {
	width:95%;
}  

.even{
	background-color: #999898;
}

.selectedRow{
	background-color: rgb(0, 0, 252) !important;
}

.warning{
 	color:#FEFF5F;
 	/*background-color:#EEEFB3; 
 	border:solid 1px red; 
 	width:100%*/
}