{*FORM-HEADER*}

<style>

</style>
<link media="print" rel="stylesheet" href="css/bulkprint.css" type="text/css">
<div id="row1">
<h1><div id="staff-title">{*page_title*}</div><div style="clear:both;"></div></h1>
<div class="container">
<fieldset id="staffDetails" class="staffDetails-left"> <legend>Staff Details:</legend>
<div class="label">administration_id :</div>
				<div class="value">{*administration_id*}{*err_administration_id*}</div><br class="clear"/><div class="label">group_name :</div>
				<div class="value">{*group_name*}{*err_group_name*}</div><br class="clear"/><div class="label">create_advert :</div>
				<div class="value">{*create_advert*}{*err_create_advert*}</div><br class="clear"/><div class="label">edit_advert :</div>
				<div class="value">{*edit_advert*}{*err_edit_advert*}</div><br class="clear"/><div class="label">remove_advert :</div>
				<div class="value">{*remove_advert*}{*err_remove_advert*}</div><br class="clear"/><div class="label">create_template :</div>
				<div class="value">{*create_template*}{*err_create_template*}</div><br class="clear"/><div class="label">edit_template :</div>
				<div class="value">{*edit_template*}{*err_edit_template*}</div><br class="clear"/><div class="label">remove_template :</div>
				<div class="value">{*remove_template*}{*err_remove_template*}</div><br class="clear"/><div class="label">add_user :</div>
				<div class="value">{*add_user*}{*err_add_user*}</div><br class="clear"/><div class="label">edit_user :</div>
				<div class="value">{*edit_user*}{*err_edit_user*}</div><br class="clear"/><div class="label">delete_user :</div>
				<div class="value">{*delete_user*}{*err_delete_user*}</div><br class="clear"/><div class="label">edit_status :</div>
				<div class="value">{*edit_status*}{*err_edit_status*}</div><br class="clear"/><div class="label">edit_referral :</div>
				<div class="value">{*edit_referral*}{*err_edit_referral*}</div><br class="clear"/>
</fieldset>
</div>
{*COMMENTS*}
{*pageinfo*}<br class="clear" />
<br class="clear"/>

<div class="noprint">{*FUNCTION*}</div>
{*FORM-FOOTER*}
</div>
{*pbreak*}{*pbreakend*}
