<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="tab">
			<div id="tab-header">
				<h2>User Login</h2>
			</div>
			<div id="tab-text">
				Login using your username and password
			</div>
			<div id="tab-body" style="text-align:center">
				<form action="index.php?action=login" method="POST" name="login">
				<input type="hidden" name="action" value="login" />
				<table>
					<tr>
						<td>User name : </td><td><input type="text" value="" name="uname" /></td>
					</tr>
					<tr>
						<td>Password :</td><td><input type="text"  value="" name="pname" /></td>
					</tr>
				</table>
				<div class="button" onclick="document.login.submit()">Login</div>
				</form>
				<br style="clear:both">
			</div>
			<div id="tab-foot"></div>
		</div>
</body>
</html>