<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ability Scope - {*pagetitle*}</title>
<link rel="shortcut icon" href="images/favicon.ico" />
<link media="screen" rel="stylesheet" href="css/ui-darkness/jquery-ui.css" type="text/css" />
<link media="screen" rel="stylesheet" href="css/main.css" type="text/css" />
<link media="screen" rel="stylesheet" href="js/farbtastic/farbtastic.css" type="text/css" />
<script type="text/javascript" src="js/jquery-1.4.4.js"></script>
<script src="js/jquery-ui-1.8.9.custom.min.js"></script>
<script src="js/ui/jquery.ui.tabs.js"></script>
<!-- <script type="text/javascript" src="assets/Jquery-lint/jquery.lint.js"></script>-->
<script type="text/javascript" src="js/table-layout.js"></script>
<script type="text/javascript" src="assets/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="assets/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/questions.js"></script>
<script type="text/javascript" src="js/farbtastic/farbtastic.js"></script>
<script type="text/javascript" src="js/test.js"></script>
</head>

<body>
{*showVars*}
<div id="main-heading"><img src="images/title.png" width="356" height="82" /></div>
<div id="main">
		<div id="content">
		<ul class="menu">
		<li onclick="location.href='advertisement.php'">Advertisement</li>
		<li onclick="location.href='category.php'">Catagory</li>
		<li onclick="location.href='employmenttype.php'">Employment Type</li> 
		<li onclick="location.href='advertTemplate.php'">Template</li>
		<li onclick="location.href='question.php'">Questions</li>
		<li onclick="location.href='questionCatagory.php'">Question Catagory</li>
		</ul>
		
		<br class="clear" />
			{*CONTENT*}
		</div><br class="clear:both"/>
</div> 
</div> 

</body>
</html>
