<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link media="screen" rel="stylesheet" href="css/main.css" type="text/css">
<script type="text/javascript" src="js/jquery-latest.js"></script>
<script type="text/javascript" src="https://github.com/jamespadolsey/jQuery-Lint.git"></script>
<script type="text/javascript" src="js/table-layout.js"></script>
</head>

<body>
{*showVars*}
<div id="title"><img src="images/title.png" width="356" height="82" /></div>
<div id="main">
		<div id="content">
		<ul class="menu">
		<li onclick="location.href='administration.php'">administration</li>
		<li onclick="location.href='users.php'">Users</li>
		<li onclick="location.href='division.php'">division</li>
		<li onclick="location.href='advertisement.php'">advertisement</li>
		<li onclick="location.href='category.php'">catagory</li>
		<li onclick="location.href='advertTemplate.php'">Template</li>
		</ul>
		
		<br class="clear" />
		<div id="col-left">
			{*CONTENT*}
			</div>
		</div><br class="clear:both"/>
</div> 
</div> 

</body>
</html>
