<style>
		textarea[name=label]{
				width:500px;
		}
		</style>
		<script>
		{*script*}
		</script>
		<input type="hidden" value="{*qid*}" name="qid" />
			<h2 class="ui-state-active">Tracking</h2>
				<div id="tabs-2">
					<div id="tab-text">Show List of element used to track this question and rank it.</div>
					<p><div  id="edit" style="padding-left:100px">{*edit*}</div></p>
				</div>
			<div id="example2" style="width:700px">
			<h2 class="ui-state-active">Eamaple</h2>
				<div id="tabs-1">
					<div id="tab-text">This is an eample of what the question type would look like.</div>
						<div id="example">
							<div id="label" {*css*}{*style*}>{*label*}</div>
							<div id="value">{*value*}</div>
						</div>	
				</div>
			<h2 class="ui-state-active">Setting</h2>
				<div id="tabs-3">
					<div id="tab-text">Show List of element used to track this question and rank it.</div>
					<p><div  id="style" style="padding-left:100px">{*setting*}</div></p>
				</div>
			
			</div>